<table *ngIf="receivedCompliments.length > 0" class="table">
  <thead>
    <th class="col-2">Usuário Recebedor</th>
    <th class="col-2">Tag</th>
    <th class="col-8">Mensagem</th>
  </thead>
  <tbody>
    <tr *ngFor="let compliment of receivedCompliments">
      <td>{{ compliment.userReceiver.name }}</td>
      <td>{{ compliment.tag.name }}</td>
      <td>{{ compliment.message }}</td>
    </tr>
  </tbody>
</table>
<br>
<table *ngIf="sentCompliments.length > 0" class="table">
  <thead>
    <th class="col-2">Usuário Emissor</th>
    <th class="col-2">Tag</th>
    <th class="col-8">Mensagem</th>
  </thead>
  <tbody>
    <tr *ngFor="let compliment of sentCompliments">
      <td>{{ compliment.userSender.name }}</td>
      <td>{{ compliment.tag.name }}</td>
      <td>{{ compliment.message }}</td>
    </tr>
  </tbody>
</table>
