<div class="container">
  <div class="card border-dark mt-2 mb-3" *ngFor="let tag of tags; let i=index" apDarkenOnHover>
    <div class="card-body bg-dark">
      <h5 class="card-title">{{ tag.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted"><span class="badge bg-secondary text-light">{{ tag.name_custom }}</span></h6>
      <a *ngIf="currentUser?.admin" class="btn btn-danger btn-sm mt-2" (click)="removeTag(tag, i)">
        <i class="fa fa-trash mr-1"></i> Remover
      </a>
    </div>
  </div>

  <div *ngIf="currentUser?.admin">

    <button class="btn btn-primary" (click)="show = !show">Create new tag</button>
    <div class="alert mt-2 mb-2" [class.alert-danger]="alert" [class.fade]="!alert" [class.show]="alert" role="alert" *ngIf="alert">
      {{ alertMessage }}
    </div>
    <div class="alert mt-2 mb-2" [class.alert-success]="success" [class.fade]="!success" [class.show]="success" role="alert" *ngIf="success">
      {{ alertMessage }}
    </div>
    <div *ngIf="show" class="container mt-2 mb-4">
      <form
        [formGroup]="tagForm"
        class="form mt-4"
        (submit)="createTag()"
      >
        <div class="form-group">
          <label for="name" class="form-label">Name</label>
          <input formControlName="name" class="form-control" />
        </div>

        <button
          [disabled]="tagForm.invalid"
          type="submit"
          class="btn btn-primary btn-block"
        >
          Create
        </button>
      </form>
    </div>
  </div>
</div>
